<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Culture" value=""/> <!-- Supported cultures: "en" (default), "it", "ru", "ja", "fr", "de", "el", "zh" -->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
